{% load static %}
<!DOCTYPE html>
<html>
 <head>
    <meta charset = "utf-8">
    <title> BirdApp </title>
    <link rel="stylesheet" href = "{% static 'styles.css' %}">
 </head>
    <body>
        <header class = "wrapper">
            <nav>
                {% if user.is_authenticated %}
                <li>
                    <form class = "logout-link" action = "{% url 'accounts:logout' %}" method = "post">
                        {% csrf_token %} 
                        <button type = "submit"> Log out </button>
                    </form>
                </li>
                <li><a href = "{% url 'enterdata:enterdata' %}"> Add some data! </a></li>
                <li><a href = "{% url 'displaydata:displaydata' %}"> Show me some data! </a></li>

                {% else %}
                <li><a href = "{% url 'accounts:login' %}">Login</a></li>
                <li><a href = "{% url 'accounts:signup' %}">Sign up</a></li>
                {% endif %}
            </nav>

        </header> 

        {% block content %}
        
        {% endblock %}

    </body>
</html>